#headertitle{
    text-align: center;
    color: sandybrown;
    font-family: 'Share Tech Mono',
    monospace;
}

#titledesc{
    text-align: center;
    color:sandybrown ;
    font-family: 'Share Tech Mono',
    monospace;
}

#topheadlines{
    color: sandybrown;
     font-family: 'Share Tech Mono',
     monospace
}