#headertitle{
    text-align: center;
    color: sandybrown;
    font-family: 'Share Tech Mono',
    monospace;
}

#titledesc{
    text-align: center;
    color:sandybrown ;
    font-family: 'Share Tech Mono',
    monospace;
}

#topheadlines{
    color: sandybrown;
     font-family: 'Share Tech Mono',
     monospace
}

#articletitle{
    color: sandybrown;
    font-family: 'Share Tech Mono',
    monospace;
}

#datepublished{
    color: sandybrown;
        font-family: 'Share Tech Mono',
        monospace;
}

body{
    background-color: slategrey;

}

.card-body{
    background-color: black;
}

#sourcetitle{
    font-family:'Share Tech Mono',
    monospace;
    text-align: center;
    color: sandybrown;
}

#sourcetitledesc{
     font-family:'Share Tech Mono',
     monospace;
     text-align: center;
     color: sandybrown;
}

#articleurl{
    text-align: center;
    color: sandybrown;
}

#articlename{
    text-align: center;
    color: sandybrown;
}

#articleid{
    text-align: center;
    color: sandybrown;
}

#articledesc{
    text-align: center;
    color: sandybrown;
}

#article_url{
    color: sandybrown;
}

#contactheader{
    color: sandybrown;
    text-align: center;
}

#gmail{
    color: sandybrown;
    text-align: center;
}

#hotmail{
    color: sandybrown;
    text-align: center;
}

#newsapp{
    color: sandybrown;
    text-align: center;
}