{%extends 'base.html'%}



{%block content%}
<h1 id="headertitle">Welcome to News APP</h1>
<div class="container">
    <p id="titledesc">ALL of us here at News app are so excited to have you visit us</p>
    <h3 id="topheadlines"> Top Headlines </h3>
    <div class="card card-body">
        {% for article in top_headlines %}
        <h3>{{ article.title}}</h3>
        <h4>{{article.publishedAt}}</h4>
        <img src="{{article.image}}" alt="" class="img-fluid">
        {% endfor %}
    </div>
</div>

{%endblock%}