{%extends 'base.html'%}


<body>
    {%block content%}
    <h1 id="sourcetitle">WELCOME TO THE NEWS SOURCES SECTION</h1>
    <P id="sourcetitledesc">Feel free to check out our news sources below</P>
    <div class="container">
        <div class="card card-body">
            <ul>
                {%for article in sources %}
                <h2>{{article.url}}</h2>
                <h2>{{article.name}}</h2>
                <h2>{{article.id}}</h2>
                <h2>{{article.description}}</h2>
                {%endfor%}
            </ul>
        </div>
    </div>
    {%endblock%}
</body>